:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

body {
    background: url(img/bg-desktop.webp);
    font-family: Bai Jamjuree;
}

footer {
    background-color: rgb(0, 49, 49);
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: rgb(1, 77, 77);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
}

.cartao__conteudo {
    text-align: center;
    background-color: rgb(150, 218, 230);
    height: 100%;
}

.cartao__conteudo h3 {
    background-color: rgb(19, 170, 170);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
}
